.input {
  --input-borderColor: var(--uikit-color-background-input);
  padding: var(--space-s);
  border: 1px solid var(--input-borderColor);
  border-radius: var(--uikit-border-radius);
  background: var(--uikit-color-background-input);
  width: 100%;

  &:focus,
  &:focus-visible {
    --input-borderColor: var(--uikit-color-focus-ring);
    outline: 1px solid var(--uikit-color-focus-ring);
  }

  &:focus:not(:focus-visible) {
    --input-borderColor: var(--uikit-color-background-input);
    outline: none;
  }

  &[aria-invalid='true'] {
    --input-borderColor: var(--uikit-color-text-error);

    &:focus,
    &:focus-visible {
      outline: 1px solid var(--uikit-color-text-error);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
