.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .toggleButton {
    position: absolute;
    right: var(--space-s);
    background-color: transparent;
  }
}
